
<p>
    <div class="row">
        <div class="col-md-8">
            <button class="btn btn-dark" onclick="AddEditPersonalInfo(0)">Add New</button>
        </div>
        <div class="col-md-4 text-right">
            <a href="PersonalInfo/ExportAllDatatoCSV">
                <input type="button" id="btnExportAllDatatoCSV" class="btn btn-success" value="Export All Data to CSV" />
            </a>
        </div>
    </div>
</p>



<div class="container">
    <div style="width:100%; margin:0 auto;">
        <table id="tblPersonalInfo" class="tblCustomTR" border="1" style="width:100%;">
            <thead>
                <tr>
                    <th>No</th>
                    <th>First Name</th>
                    <th>Date Of Birth</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>MobileNo</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="PersonalInfoFormModel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="title" class="modal-title">Add Personal Info</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="PersonalInfoFormModelDiv">
            </div>
        </div>
    </div>
</div>

<br />
@if (TempData["successAlert"] != null)
{
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p>@TempData["successAlert"]</p>
    </div>
}


<script src="~/js/PersonalInfo/PersonalInfo_CRUD.js"></script>

@*Datatabel*@
<script src="~/js/PersonalInfo/PersonalInfo_Datatable.js"></script>
<link href="~/DataTables/datatables.min.css" rel="stylesheet" />
<script src="~/DataTables/datatables.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>


@*Export Button*@
<link href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

<style>
    .tblCustomTR tr {
        line-height: 40px;
    }
</style>






